#entete, #menu, #contenu, #footer {
padding:1px 0;
}
#rong{border-radius:8px;
}
#fil{
    border-radius:15px;
	width: 60px;
	height:280px; 
	border-radius:15px; 
	background:#CCCCCC;"
    border-color:#003300;
 
	
}
#filG{
    border-radius:15px;
	width: 60px;
	height:280px; 
	border-radius:15px; 
	background:#CCCCCC;"
    border-color:#003300;
   
	
}
#log{border-bottom-style:groove;}
#passe{border-bottom-style:groove;}
#bt{border-bottom-style:solid; border-bottom-color:#000000}

#entete {
	width :100%;
	height:190px; 
	background-color:#003300;
	box-shadow:6px 6px 6px black;	
	text-align:center;
}
#gauche{
float:right;
width :180px;
height:150px;
}
div#logo {
float:left;
width:100px;
height:100px;
background-repeat:no-repeat;
caption-side:right;
text-align:center;
}


div#logo1 {
float:right;
width:100px;
height:100px;
background-color:#FF0000;
caption-side:right;
text-align:center;
margin-right:40px;
}
div.menu1{
	text-align: left;
	font-size: 15;
	font-family: Arial;
	z-index: 100;
	position: relative;
	margin: -9 0 0 -8;
	width :100%; 
	padding: 0 0 0 0;
	background: #33CC66;
	line-height: 100%;
	margin-left:0px;
	margin-top:0px;
	text-align :center;
	box-shadow: 0 1px 3px black;
}

#menu1 {
	margin: 0;
	padding: 4px 0 0 0;
	
}

#menu1 li {
	margin: 0 5px;
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;
}

#menu1 a {
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	padding:  8px 20px;
	margin: 0;
}
#menu1 a:hover {
	background: #000;
	color: #fff;
}

#menu1 .current a, #menu1 li:hover  a {
	background: gray;
}
 
#menu1 ul li:hover a, #menu1 li:hover li a {
	background: none;
	border-color:#DDDDDD;
	border-width:1px;
	border-bottom-style: solid;
}
#menu1 ul a:hover {
	background: gray !important;
	color: #fff !important;
	text-shadow: none;
}

#menu1 li:hover > ul {
	display: block;
}

#menu1 ul {
	display: none;
	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
	background: white;
	border: solid 1px #b4b4b4;
	moz-box-shadow: 1px 1px 12px #555;  
	webkit-box-shadow: 1px 1px 12px #555;
	box-shadow: 1px 1px 12px #555;
}
#menu1 ul li {
	float: none;
	margin: 0;
	padding: 0;
}

#menu1 ul a {
	font-weight: normal;
	color: black;
	text-shadow: none;
}

#menu1 ul ul {
	left: 181px;
	top: -3px;
}

#menu1:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#btn{
border-radius:50px;
height:50px;
width :110px;
box-shadow:6px 6px 6px black;
border-color:#CC00CC;

}
#bor{background-color:#000000;
		font-family: Arial;
		color:#FFFFFF;
}
#bor1{background-color:#FFFFFF;
		font-family: Arial;
}
#droite{
float:left;
width :180px;
height:150px;
}
#pied{
	clear:left;
	width :100%;
	height:20%;
	box-shadow:6px 6px 6px black;
	background-color:#33CC66;
}
#contenu{
	display:block;
	position:relative;
	width :100%;
	height:480px; 
	box-shadow:6px 6px 6px black;
}
#form {
border-radius:20px;
margin-left:250px;
margin-top:10px;
height:450px;
width:815px;
background-color:#FFFFFF;
}
